<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_quote_add_item">
		<observer name="pdp_sales_quote_add_item" instance="PDP\Integration\Observer\Adminhtml\PdpQuoteAddItem" />
	</event>
	<event name="sales_quote_product_add_after">
		<observer name="pdp_sales_quote_product_add_after" instance="PDP\Integration\Observer\Adminhtml\PdpQuoteProductAdd" />
	</event>
	<event name="sales_order_save_after">
		<observer name="pdp_sales_order_save_after" instance="PDP\Integration\Observer\Adminhtml\PdpSalesOrder" />
	</event>
</config>