<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pdpro" translate="label" sortOrder="110">
            <label>PDP extension</label>
        </tab>
		<section id="pdpintegrat" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>PDP Integration</label>
            <tab>pdpro</tab>
			<resource>PDP_Integration::config_pdpintegration</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>PDP Integration setting</label>
				<field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled PDP</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="pathpdp" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>URL path installed PDP</label>
				</field>
				<field id="labelbutton" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Design button label</label>
				</field>
				<field id="usingpopup" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show PDP on product page</label>
					<source_model>PDP\Integration\Model\Config\Source\Attrpopup</source_model>
				</field>
				<field id="inline_class" translate="label comment" type="text" sortOrder="46" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enter parent class name to append PDP</label>
                    <depends>
                        <field id="usingpopup">2</field>
                    </depends>					
				</field>
				<field id="separatedb" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Separate Database</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
    </system>
</config>
