<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="pdp_cart_private_data_items" type="PDP\Integration\Plugin\Checkout\CustomerData\Cart" sortOrder="50" />
    </type>
	<type name="Magento\Catalog\Helper\Product\Configuration">
		<plugin name="pdp_catalog_helper_product_configuration" type="PDP\Integration\Plugin\ProductConfiguration" sortOrder="50" />
	</type>
</config>