.page-title-wrapper h1.page-title{color:#67545A}
.my-customized-design table.table-product-item th span{color:#FF0060}
.my-customized-design table.table-product-item th.col-status{text-align:right;}
.product-detail .block-info ul li{color:#313131}
.product-detail .product-image{float:left;margin-right:17px;}
.my-customized-design table.table-product-item td{color:#313131;}
.my-customized-design table.table-product-item td .item-status{color:#00C0FF;font-size:16px;font-weight:bold;text-transform:capitalize}
.block-button a.edit-button {
    border-radius: 3px;
    background-color: #31b573;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    z-index: 4;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    text-align: center;
}
.block-button a.zip-design {
    border-radius: 3px;
    margin: 5px 5px;
    background-color: #3fbcef;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    z-index: 4;
    font-size: 15px;
    color: #fff;
    width: 130px;
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
}
td.col-custom-design ul li.item{display:inline-block; margin:0 5px 5px 0;}
td.col-custom-design ul li.last{margin-right:0;}
