<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Sales\Model\AdminOrder\Create" type="PDP\Integration\Model\Sales\AdminOrder\Create" />
	<preference for="PDP\Integration\Api\PdpItemRepositoryInterface" type="PDP\Integration\Model\Pdpproduct\PdpItemRepository"/>
	<preference for="PDP\Integration\Api\Data\PdpItemInterface" type="PDP\Integration\Model\PdpItem"/>
	<preference for="PDP\Integration\Api\Data\ProductOptionInterface" type="PDP\Integration\Model\ProductOption" />
	<preference for="PDP\Integration\Api\Data\ProductOptionValueInterface" type="PDP\Integration\Model\ProductOptionValue" />
	<preference for="PDP\Integration\Api\Data\PdpReponseInterface" type="PDP\Integration\Model\Pdpproduct\PdpReponse" />
	<preference for="PDP\Integration\Api\Data\PdpPrintTypeInterface" type="PDP\Integration\Model\Pdpproduct\PdpPrintType" />
	<preference for="PDP\Integration\Api\PdpGuestDesignRepositoryInterface" type="PDP\Integration\Model\Pdpproduct\PdpGuestDesignRepository"/>
	<preference for="PDP\Integration\Api\Data\PdpDesignItemInterface" type="PDP\Integration\Model\PdpDesignItem"/>
	<preference for="PDP\Integration\Api\Data\ProductColorInterface" type="PDP\Integration\Model\ProductColor"/>
	<preference for="PDP\Integration\Api\Data\CustomSizeInterface" type="PDP\Integration\Model\CustomSize"/>
	<preference for="PDP\Integration\Api\Data\MultiSizeInterface" type="PDP\Integration\Model\MultiSize"/>
	<preference for="PDP\Integration\Api\Data\PriceMultiSizeInterface" type="PDP\Integration\Model\PriceMultiSize"/>
	<type name="Magento\Sales\Model\Config">
        <plugin name="PDP_Integration_Model_Sales_Plugin_Config"
                type="PDP\Integration\Model\Sales\Plugin\Config"
                sortOrder="16"
                disabled="false"/>
  </type>
  <type name="Magento\Webapi\Controller\Rest">
    <plugin name="pdp_cors_headers" type="PDP\Integration\Plugin\CorsHeadersPlugin" />
  </type>
  <type name="Magento\Framework\Webapi\Rest\Request">
    <plugin name="pdp_cors_request_options" type="PDP\Integration\Plugin\CorsRequestOptionsPlugin" />
  </type>
  <type name="Magento\Webapi\Controller\Rest\Router">
    <plugin name="cors_request_match" type="PDP\Integration\Plugin\CorsRequestMatchPlugin" />
  </type>
</config>